:root {
  --primary-color: #0282F9;
  --secondary-color: #1C1C1C;
  --tertiary-color: #6a6f73;
  --quaternary-color: #303030;
  --container-md: 75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .header-top {
  background-color: var(--primary-color);
  text-align: right;
  height: 2rem;
}

header .header-top span {
  margin-left: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  line-height: 2rem;
}

header .header-bottom .container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-bottom .container img {
  height: 5rem;
}

header .header-bottom .container .main-nav {
  align-self: center;
}

header .header-bottom .container ul {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

header .header-bottom .container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7rem;
}

header .header-bottom .container li {
  list-style: none;
}

.jumbotron {
  background-image: url("/images/jumbotron.jpg");
  height: 25rem;
}

.container {
  margin: auto;
  width: 100%;
  max-width: var(--container-md);
}

.thumbSection {
  background-color: var(--secondary-color);
  height: 44rem;
}

.thumbSection span {
  padding: 10px 30px;
  margin-left: 23rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
}

.thumbSection .container .card-list {
  display: flex;
  flex-wrap: wrap;
}

.thumbSection .container .card-list .card {
  width: calc(16.6666666667% - 2rem);
  margin: 3rem 1rem;
  height: 12rem;
}

.thumbSection .container .card-list p {
  color: white;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.thumbSection .container .card-list img {
  width: 100%;
  height: 100%;
}

.thumbSection .load-more {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.thumbSection .load-more a {
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

footer {
  z-index: 7;
}

footer .footer-top {
  background-color: var(--primary-color);
  height: 10rem;
  display: flex;
  list-style: none;
  align-items: center;
}

footer .footer-top .container ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 0.5rem;
}

footer .footer-top li {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.6rem;
       column-gap: 0.6rem;
}

footer .footer-top a {
  text-decoration: none;
  color: white;
  font-size: 0.855rem;
  text-transform: uppercase;
}

footer .footer-top img {
  height: 2.5rem;
}

footer .footer-top .Png {
  height: 3.5rem;
}

footer .footer-middle {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 21rem;
}

footer .footer-middle .container,
footer .footer-middle .footer-left {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

footer .footer-middle .footer-left {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-top: 2.5rem;
  width: 40%;
}

footer .footer-middle h3 {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
}

footer .footer-middle .footer-right {
  width: 100%;
  height: 21rem;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url("/images/dc-logo-bg.png");
}

footer .footer-middle ul {
  margin: 0.7rem 0 0.9rem 0;
  list-style: none;
}

footer .footer-middle a {
  margin-top: 0.1875rem;
  font-size: 0.9375rem;
  text-decoration: none;
  color: var(--tertiary-color);
}

footer .footer-bottom {
  background-color: var(--quaternary-color);
}

footer .footer-bottom .container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 6.5rem;
}

footer .footer-bottom .footer-left {
  align-self: center;
}

footer .footer-bottom a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 0.8125rem 1rem 0.8125rem 1rem;
  font-size: 1.125rem;
  border: solid var(--primary-color) 2px;
}

footer .footer-bottom .footer-right {
  display: flex;
  align-self: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

footer .footer-bottom p {
  align-self: center;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
}

footer .footer-bottom img {
  cursor: pointer;
}

