header{
    .header-top{
        background-color: var(--primary-color);
        text-align: right;
        height: 2rem;

        span{
            margin-left: 2rem;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: small;
            line-height: 2rem;
        }
    }
    .header-bottom{
        .container{
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                height: 5rem;
            }
            .main-nav{
                align-self: center;
            } 
            & ul{
                display: flex;
                column-gap: 2rem;
            }
            a{
                text-decoration: none;
                color: black;
                font-weight: bold;
                text-transform: uppercase;
                font-size: .7rem;
            }
            li{
                list-style: none;
            }
        }
    }
}